@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: crimson !important;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset-url('cart.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

.card{
  height: 300px;
  width: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}